:root {
    --primary-color: #0062F0;
    --secondary-color: #09F097;
    --accent-color: #00AEF0;
    --accent-color-2: #00F0E5;
    --accent-color-3: #0016F0;
}

/* font-family: "Playball", cursive; */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Raleway", sans-serif; */

body {
    margin: 15px;
    /* background: linear-gradient(135deg, var(--primary-color), var(--accent-color), var(--accent-color-3)); */
    background: linear-gradient(135deg, var(--accent-color-3), var(--secondary-color), var(--primary-color));
    background-size: 180%;
    font-family: "Raleway", sans-serif;
    font-size: larger;
}

section {
    margin-bottom: 25px;
    padding: 0px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div {
    /* border: 1px solid rgb(0, 162, 255); */
}

div.card {
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    min-width: 60%;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.213);
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    min-width: 100%;
    height: 3rem;
}

h1 {
    font-family: "Playball", cursive;
    font-size: 7rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: 2px solid black;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.213);
    text-shadow: 2px 2px 1px white;
}

h2, h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 150;
    font-style: italic;
}

h3 {
    margin-top: 0px;
}

h4 {
    font-family: "Playball", cursive;
    font-size: 1.5rem;
}

output {
    font-family: "DM Sans", sans-serif;
    color: var(--accent-color);
}

output.total {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.804);
    min-width: 8rem;
}

/* Header */
#header > div {
    display: flex;
    width: 50%;
}

.header-left {
    justify-content: flex-start;
}

.header-right {
    justify-content: flex-end;
}

.logo {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: "Playball", cursive;
    font-size: 2.5rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: 2px solid black;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.213);
    text-shadow: 1px 1px 1px white;
    height: 3rem;
    width: 3rem;
}

/* Banner */
#banner {
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

/* Income */
#income {
    position: relative;
}

#income > div {
    /* min-height: 15rem; */
    display: flex;
}

.upcoming-pay {
    flex-direction: column;
    position: absolute;
    z-index: 1;
}

.upcoming-pay > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.upcoming-pay > div > p {
    margin: 10px;
}

.calculate {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
    min-height: 4rem;
}

.calculate button {
    font-family: "DM Sans", sans-serif;
    font-weight: 150;
    font-style: italic;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    border: 2px solid black;
    border-radius: 10px;
    width: 10rem;
}

.calculate button:hover {
    background-color: var(--accent-color-2);
    font-weight: 250;
    cursor: pointer;
}

.current-pay {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.salary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 7rem;
    min-width: 100%;
}

/* Bills Tab */
.bills {
    display: flex;
    flex-direction: column;
}

.bill-item-container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-auto-rows: 2rem;
    min-width: 100%;
    margin-bottom: 10px;
}

.bill-item-container > div {

}

.bill-item-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.214);
    min-width: 100%;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    border: 2px solid black;
    border-radius: 50%;
}

input[type="checkbox"]:checked {
    background-color: var(--secondary-color);
}

.bill-amount {
    font-family: "DM Sans", sans-serif;
}

/* Budget Tab */
#budget {
    grid-column: span 2;
}

.budget { /* SAME AS BILL */
    display: flex;
    flex-direction: column;
}

.budget-item-container { /* SAME AS BILL EXCEPT COLUMNS */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2rem;
    min-width: 100%;
    margin-bottom: 10px;
}

.budget-item-container > div { /* SAME AS BILL */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.214);
    min-width: 100%;
}

.budget-results { /* SAME AS BILL */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

.budget-results > div {
    display: flex;
    justify-content: center;
}

/* Summary */
#summary {
    grid-column: span 2;
}

.summary-breakdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    min-width: 100%;
}

.summary-breakdown > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.summary-savings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
}

/* Footer */
#footer {
    height: 5rem;
    margin-bottom: 0px;
}